<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Akash">
<listeners>
    <listener class-name="commons.Driver"/>
</listeners>
    <test name="TestCase">
        <classes>
            <class name="TestScript.InvalidloginTest"/>
            <class name="TestScript.SearchTestScript"/>
            <class name="TestScript.RemoveFromCartTestScript"/>
            <class name="TestScript.ValidPinCodeTestScript"/>
            <class name="TestScript.invalidPinCodeTestScript"/>
            <class name="TestScript.SortPriceHighToLowTestScript"/>
            <class name="TestScript.NaviToProductDetailPageTest"/>
            <class name="TestScript.SaveForLaterTest"/>
            <class name="TestScript.AddCartTestScript"/>
            <class name="TestScript.NaviToHomePageTest"/>
        </classes>
    </test>
</suite>